# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual environments
.venv/
.venv311/
venv/
env/
build/
.tmp/
exports/
bin/run_saved_query_Shikha.py
bin/run_saved_query_Howard.py

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
